div {
    width: 200px;
    height: 200px;
    background-color: chartreuse;
    top: 0;
    left: 0;
    position: fixed;
    animation: firstanime 4s ease-in infinite paused;
}

div:hover {
    animation-play-state: running;
}

@keyframes firstanime {
    50% {
        background-color:blue;
    }

    100% {
        top: 300px;
        left: 350px;
    }
    
}