div {
    width: 500px;
    height: 300px;
    border: 5px solid;
    border-radius: 20px;
    border-color: rgb(208, 255, 0);
    background-color: rgb(255, 225, 143);
    position: relative;
    top: -320px;
}
