*  {    
    font-size: 24px;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border-color: red;
    grid-template-areas: 
        'header picture picture'
        'menu content content' 
        'footer footer footer';
        grid-gap: 20px 20px;
}

.header {
    background: aqua;
    grid-area: header;
}

.picture {
    background: blueviolet;
    grid-area: picture;
}

.content {
    background: chartreuse;
    grid-area: content;
}

.menu {
    background: coral;
    grid-area: menu;
}

.footer {
    background: rgb(201, 18, 64);
    grid-area: footer;
}

@media screen and (max-width: 640px) {
    .container {
        grid-template-areas: 
        'header'
        'picture'
        'menu' 
        'content'
        'footer';
    }
}