.blue{
    width: 100%;
    height: 70px;
    background-color:blue;
    position: static;
}

.red{
    width: 700px;
    height: 70px;
    background-color:red;
    position: static;
}

.green{
    width: 150px;
    height: 150px;
    background-color:green;
    position: relative;
    top: -70px;
    left: 150px;
}

.yellow{
    width: 70%;
    height: 200px;
    background-color:yellow;
    position: relative;
}

.violet{
    width: 70px;
    height: 70px;
    background-color:violet;
    position: absolute;
    top: 0px;
    left: 1265px;
}

.black{
    width: 70px;
    height: 70px;
    background-color:black;
    position: absolute;
    top: 130px;
    left: 1265px;
}

.violetcircle{
    width: 200px;
    height: 200px;
    border-radius: 70%;
    background-color:violet;
    position: relative;
    top: 0px;
    left: 0px;
}

.blackcircle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color:black;
    position: absolute;
    top: 50px;
    left: 50px;
}

.bottom{
    width: 60%;
    height: 70px;
    background-color:rgb(11, 239, 247);
    position: fixed;
    bottom: 0px;
    margin-left: calc(50% - 550px);
}