header {
    background: rgb(46, 12, 0);
}

.flex-container {
    display: flex;
    margin-left: 25px;
    margin-right: 25px;
    height: 50px;
    justify-content: space-between;
}
.nav {
    height: 50px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav > div {
    color:rgb(253, 247, 236);
    width: 75px;
    text-align: center;
    font-family: 'verdana';
    font-size: 14px;
}

.auth {
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth > div{
    color:rgb(253, 247, 236);
    width: 75px;
    text-align: center;
    font-family: 'verdana';
    font-size: 14px;
}

.form {
    width: 100%;
    height: 600px;
    position: relative;
    background: url('image.jpg');
    background-position: 0vw;
    background-repeat: no-repeat;
}

.share {
    flex-direction: column;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
}

.discribe {
    display: flex;
    flex-direction: row;
    text-align: center;
}

video {
    width: 200px;
    height: 100px;
}

h3 {
    text-align: left;
    font-size: 20px;
}

h2 {
    font-size: 40px;
}

.bar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background: rgb(46, 12, 0);
}

.bar > div {
    width: 300px;
    display: flex;
    color: white;
    font-size: 18px;
    align-items: center;
}

.bar > div > i {
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.how {
    width: 100%;
}

.how > h2 {
    text-align: center;
    font-style: italic;
}

.how > p {
    text-align: center;
    font-style: italic;
    margin-left: 200px;
    margin-right: 200px;
}

.content {
    display: flex;
    width: 100%;
    justify-content: center;
}

.content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 1fr;
    border: 2px solid;
    border-color: black;
} 

.interview {
    border: 2px dashed;
    border-color: black;
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    font-size: 20px;
}

.comments {
    border: 2px dashed;
    border-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}

img {
    width: 70px;
    border: 2px dashed;
    border-color: black;
    justify-self: center;
}

.comment {
    font-size: 14px;
    border: 2px dashed;
    border-color: black;
}
    