div {
    text-align: center;
    font-size: 24px;
    color:white;
}
.flex-container {
    border: 1px solid gray;
    height: 400px;
    display: flex;
    flex-direction:row;
    align-content: center;
}

.item-1 {
    background-color: red;
}

.item-2 {
    background-color: yellow;
    color:black;
    width: 150px;
}

.item-3 {
    background-color: green;
    flex-basis: 300px;
    height: 150px;
    width: 150px;
}

.item-4 {
    background-color: blue;
    width: 70px;
}

.item-5 {
    background-color: black;
    width: 100px;
}

.item-6 {
    background-color: rgb(129, 4, 113);
    width: 100px;
}