.container {
    display: grid;
    grid-template-rows: 40px 400px;
    grid-template-columns: 250px 40px;
    border-color: rgb(0, 0, 0);
    grid-template-areas: 
        'input box'
        'content content';
}

.input {
    grid-area: input;
    border: 1px solid rgb(145, 145, 145);
    border-right: 0;
    background-color: rgb(194, 194, 194);
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-right: 0.5rem;
}

.box {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: box;
    border: 1px solid rgb(145, 145, 145);
    background-color: rgb(182, 182, 182);
}

.triangle {
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 24px solid rgb(0, 0, 0);
}

.content {
    grid-area: content;
    border: 1px solid rgb(145, 145, 145);
    border-top: 0;
    overflow-y: scroll;
    background-color: rgb(182, 182, 182);
}

.content > div {
    border: 1px solid rgb(255, 255, 255);
    box-sizing: border-box;
    background-color: rgb(194, 189, 189);
    height: 24px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
}