svg {
    width: 500px;
    height: 500px;
}

svg > g {
    fill-opacity: 0.6;
}

line {
    stroke: red;
    stroke-width: 2px;
}

circle:first-of-type {
    stroke:blue;
    stroke-width:4px;
    fill: rgb(138, 206, 3);
}

circle:nth-child(3) {
    stroke:rgb(76, 230, 5);
    stroke-width:4px;
    fill: rgb(34, 34, 252);
}

circle:nth-child(4) {
    stroke:rgb(255, 217, 0);
    stroke-width:4px;
    fill: rgb(255, 0, 157);
}

rect {
    stroke:rgb(255, 0, 170);
    stroke-width:4px;
    fill: url(#Gradient02);
}

ellipse {
    stroke:rgb(0, 255, 255);
    stroke-width:4px;
    fill: url(#Gradient01);
}