
.center {
    width: 100%;
    height: 2000px;
    background-color: rgb(32, 255, 170);
}

div > div {
    position: relative;
    top:30%;
    left:50%;
    width: 100px;
    height: 50px;
    background-color: white;
    border-radius: 20px;
}

.input {
    border-radius: 20px;
    background-color: rgb(32, 255, 170);
    border: solid rgb(255, 255, 255) 1px;
    width: 45px;
    height: 45px;
    position: relative;
    top: 2.5px;
    left: 2.5px;
    transition: transform 1s;
    user-select: none;
}





