p {
    color:blue;
    font-size: 8px;
    font-style: italic;
}
@media screen and (max-width:1024px) and (min-height: 10rem), 
    screen and (max-width:1500px) and (max-height:1500px) {
    h2 {
        text-align: center;
    }
    p {
        color:black;
        text-decoration: underline;
    }
}