div:first-child{
    width: 400px;
    height: 200px;
    background-color: darksalmon;
    position: static;
}
div:nth-child(3){
    width: 700px;
    height: 200px;
    background-color:red;
    position: relative;
    top: 70px;
    left: -150px;
}
div:nth-child(3):hover{
    right: 0px;
    top:0px;
}
div:nth-child(5){
    width: 500px;
    height: 300px;
    background-color: greenyellow;
    position: fixed;
    opacity: 0.5;
}
div:nth-child(5) > div{
    width: 80px;
    height: 80px;
    background-color: blue;
    position: absolute;
    top: -22px;
    left: 444px;
}
div:last-child{
    width: 500px;
    height: 200px;
    background-color: black;
    position: fixed;
}